/* #B6B5E7 : lavendar  */
/*  */
#title{

    position: fixed;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color:#595757;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

.content{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right:15%;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.navbar{
    padding-bottom:2.5rem;
}

.download_btn{
    margin:2% 3% 5% 0;
}

.title_image{
    right:15%;
    position: absolute;
    padding-left:40px;
    width: 22%;
    border-radius:0%;
    bottom: 7%;
}

.feature_box{
    padding:5%;
}

.icon{
    color:#7f7ee2e8;
    padding:20px;
}

.icon:hover{
    color:rgb(65, 64, 64);
    padding:20px;
}

.testimonials_image{
    width: 10%;
    border-radius: 100%;
    padding:10px;
    margin:10px;
}

.img2{
    width:5%;
}

.press_img{
    width:80%;
    padding:50px;
}

#pricing{
    padding:100px;
    width:90%;
    margin:auto;
    text-align: center;
}

#cta{
    background-color:#aaa9e1;
    text-align: center;
    padding:5%;
    padding-bottom: 2%;
}

#end_line{
    font-family: 'Montez', cursive;
    width:40%;
    margin:auto;
    color:#fff;
    font-size: 2rem;
    line-height: 1.5;
    padding:0 10px 0px 10px;
}

#footer{
    padding:7% 20%;
    text-align: center;
    margin:auto;
}

.cc{
    padding:5px;
    color:#959292;
}

#title{
    padding-right: 10%;
    padding-bottom: 120px;
    position: relative;
    background-color:#9f9ee2;
    color:rgba(255, 255, 255, 0.981)
}

#press{
    padding:0 10% 2% 10%;
    background-color:#aaa9e1;
    text-align: center;
}

#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color:#aaa9e1;
    color:#fff;
}

#features{
    position: relative;
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
}


@media (max-width:1028px){
    .title_image{
        position:static;
        width:60%;
        transform: rotate(0deg);
        padding-top:50px;
        text-align: center;
    }
}

.left{
    position: relative;
    left:10%;
}

span{
    font-weight: bold;
}

.head2{
    font-size: 1.5rem;
}

.head{
    font-weight: bold;
}